<div class="td-feature-card__wrapper">
  <div class="td-feature-card__wrapper-heading">
    <div class="title">
      <span>{{ board.label }}</span>
    </div>
    <div class="actions">
      <td-button (click)="addTicket()">Add a new ticket</td-button>
    </div>
  </div>
  <div class="td-feature-card__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum accusamus cumque dolorem corporis sequi corrupti
    debitis molestiae quod non. Necessitatibus voluptate vel numquam, deserunt impedit veritatis commodi molestias illum
    ducimus?
  </div>
</div>
